{% extends "base.html" %}

{% block title %}Playbook Ausführen{% endblock %}

{% block content %}
    <div class="container mt-4">

        <!-- Card für Playbook-Name und Beschreibung -->
        <div class="card mb-4">
            <div class="card-body">
                <h2>{{ playbook.name }}</h2>
                <p>{{ playbook.description }}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ url_for('execute_playbook', playbook_id=playbook.id) }}">
                    {% for var in playbook.variables %}
                        <div class="mb-4 d-flex flex-column">
                            <label class="form-label fw-bold" for="{{ var.name }}">{{ var.name }}</label>
                            <div class="input-group">
                                {% if var.type == 'text' %}
                                    <input type="text" name="{{ var.name }}" class="form-control" {% if var.required == 'true' %}required{% endif %} placeholder="Geben Sie {{ var.name }} ein" />
                                {% elif var.type == 'dropdown' %}
                                    <select name="{{ var.name }}" class="form-select" {% if var.required == 'true' %}required{% endif %}>
                                        <option value="" disabled selected>Wählen Sie eine Option</option>
                                        {% for option in var.options %}
                                            <option value="{{ option }}">{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif var.type == 'checkbox' %}
                                    <div class="form-check">
                                        <input type="checkbox" name="{{ var.name }}" class="form-check-input" value="true" id="{{ var.name }}" />
                                        <label class="form-check-label" for="{{ var.name }}">{{ var.name }}</label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Playbook Ausführen</button>
                </form>
            </div>
        </div>

        {% if output %}
            <h2 class="mt-4">Ausgabe:</h2>
            <div class="bg-light p-3 border rounded">
                <pre>{{ output }}</pre>
            </div>
        {% endif %}
        {% if error %}
            <h2 class="mt-4">Warnungen/Fehler:</h2>
            <div class="bg-light p-3 border rounded">
                <pre>{{ error }}</pre>
            </div>
        {% endif %}

    </div>
{% endblock %}